<!-- This will display the version of the docs -->
Current {{prettyname}} version: {%raw %}{{ version }}{% endraw %} (<a href="https://github.com/{{orgname}}/{{reponame}}/releases">older versions</a>).
